# Dependency folders (The "small files" like node_modules)
node_modules/
bower_components/

# Environment variables (Secrets and API keys!)
.env

# System files
.DS_Store
Thumbs.db

# Ignore VS Code internal settings and debug configs
.vscode/

# Ignore videos with over GitHub's maximum limit
images/GHF2.18.mp4
images/GHF2.19.mp4